name: pixel_art_creator
description: design ui kit
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3+1
  go_router: ^16.2.5
  provider: ^6.1.5+1

flutter:
  uses-material-design: true
